*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

body{
    
}

a{
    text-decoration: none;
}

nav{
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    margin-bottom: 3vh;
}

.loop{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10%;
    top: 1px;
}

.logo{
    color: rgb(0, 0, 0);
    font-size: 60px;
}

.logo:hover{
    opacity: 50%;
    transition: 0.5s;
}

.nav-list{
    display: flex;
    list-style: none;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
}

.home{
    width: auto;
    height: 100vh;
}

.apresentacao{
    width: 80vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    margin-left: 20vh;
}

.resumo{
    margin-top: 3vh;
    justify-content: space-around;
    margin-bottom: 3vh;
    color: rgb(0, 0, 0);
}

.button1 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #ffffff;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  letter-spacing: 1px;
}

.button1::after,
.button1::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button1::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #002c7e;
  border-radius: 10px;
}

.button1::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button1:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
  background: #034ace;
}

.button1:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button1:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}